.navigation-menu-element {
    color: #2E3238;
    cursor: pointer;
    display: block;
    padding: 10px 28px;
}

.navigation-menu-title {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2E3238;
}